# caches
cache/
Cache/
*.log

# secrets
*.key
*.pem
*.env
**/secrets/

# system junk
Trash/
Thumbnails/

# browser profiles (optional)
BraveSoftware/
chromium/

dconf/
go/
pulse/
session/
gh/

# KDE / Dolphin settings
dolphinrc
baloofileinformationrc

# KDE Wallet (IMPORTANT - contains sensitive data)
kwalletrc
kwalletdrc
kwallet5rc
kwallet6rc

kiorc
